.modal {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1060;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  transition: left 0.5s ease;
}

.modal > * {
  opacity: 0;
}

.modal--open {
  left: 0%;
  transition: left 0.5s ease;
}

.modal--open > * {
  height: 100%;
  background-color: var(--clr-bg-green);
  opacity: 1;
  padding: calc(var(--base-gap) * 2);
}

.modal-inner {
  position: relative;
}

.modal-close {
  position: absolute;
  right: calc(var(--base-gap));
  top: calc(var(--base-gap));
}
